@{
    ViewBag.Title = "Boletas";
}

@section scripts {

    <!-- Plugins JavaScript -->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/vendors/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- Parsley JS -->
    @Scripts.Render("~/Scripts/Vendor/ParsleyJS/parsley.min.js")
    @Scripts.Render("~/Scripts/Vendor/ParsleyJS/i18n/es.js")

    <!-- Custom js -->
    <script type="text/javascript" src="~/Scripts/Boletas/Boleta.js?noCache=@Guid.NewGuid().ToString()"></script>

}


<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header">
        <h4 class="hk-pg-title">
            <span class="pg-title-icon">
                <span class="feather-icon">
                    <i data-feather="book"></i>
                </span>
            </span>Boletas
        </h4>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title mb-20">Filtros de Búsqueda</h5>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">

                            <div id="container_admin" style="display:none;">
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <strong>
                                            <label for="vTipoBoleta">Tipos de Boleta</label>
                                        </strong>
                                        <select id="vTipoBoleta" class="form-control custom-select js-select">
                                            @*<option disabled="disabled">Tipos de Boleta</option>*@
                                            <option value="R">R</option>
                                            <option value="G">G</option>
                                            <option value="" selected>Todos</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>
                                            <label for="bVisto">Vieron la boleta</label>
                                        </strong>

                                        <select id="bVisto" class="form-control custom-select js-select">
                                            @*<option disabled="disabled">Vieron la boleta</option>*@
                                            <option value="1">Si</option>
                                            <option value="0">No</option>
                                            <option value="" selected>Todos</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <strong>
                                            <label for="bVistoCorreo">Visto en el correo</label>
                                        </strong>

                                        <select id="bVistoCorreo" class="form-control custom-select js-select">
                                            @*<option disabled="disabled">Visto en el correo</option>*@
                                            <option value="1">Si</option>
                                            <option value="0">No</option>
                                            <option value="" selected>Todos</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>
                                            <label for="bDescargado">Descargaron la boleta</label>
                                        </strong>

                                        <select id="bDescargado" class="form-control custom-select js-select">
                                            @*<option disabled="disabled">Descargaron la boleta</option>*@
                                            <option value="1">Si</option>
                                            <option value="0">No</option>
                                            <option value="" selected>Todos</option>
                                        </select>
                                    </div>


                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <strong>
                                            <label for="bCorreoEnviado">Enviados al Correo Electronico</label>
                                        </strong>

                                        <select id="bCorreoEnviado" class="form-control custom-select js-select">
                                            @*<option disabled="disabled">Enviados al Correo Electronico</option>*@
                                            <option value="1">Si</option>
                                            <option value="0">No</option>
                                            <option value="" selected>Todos</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <strong>
                                            <label for="anio_select">Año</label>
                                        </strong>
                                        <select id="anio_select" class="form-control custom-select"></select>

                                    </div>

                                    <div class="col-md-3">
                                        <strong>
                                            <label for="mes_select">Mes</label>
                                        </strong>
                                        <select id="mes_select" class="form-control custom-select js-select">
                                            <option value="">Ver todos</option>
                                            <option value="01">Enero</option>
                                            <option value="02">Febrero</option>
                                            <option value="03">Marzo</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Mayo</option>
                                            <option value="06">Junio</option>
                                            <option value="07">Julio</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>
                                            <label for="vTipoTrabajador">Régimen</label>
                                        </strong>
                                        <select id="vTipoTrabajador" class="form-control custom-select js-select">
                                            <option value="">Todos</option>
                                            <option value="AGRO RURAL - CAS">AGRO RURAL - CAS</option>
                                            <option value="MIDAGRI - EMPLEADOS">MINAGRI - EMPLEADOS</option>
                                            <option value="AGRO RURAL - PRACTICANTES">AGRO RURAL - PRACTICANTES</option>
                                            <option value="AGRO RURAL - SENTENCIA JUDI.">AGRO RURAL - SENTENCIA JUDI.
                                            </option>
                                            <option value="OTROS">OTROS</option>
                                            <option value="AGRO RURAL - RH">AGRO RURAL - RH</option>
                                            <option value="AGRO RURAL - OBREROS">AGRO RURAL - OBREROS</option>
                                            <option value="AGRO RURAL - REINCORPORADOS">AGRO RURAL - REINCORPORADOS
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-12 d-flex justify-content-end align-items-end">

                                        <button id="send-masive-mails"
                                            class="btn btn-success btn-wth-icon btn-rounded icon-right">
                                            <span class="btn-text">Enviar Correos</span> <span class="icon-label"><span
                                                    class="feather-icon"><i
                                                        data-feather="arrow-right-circle"></i></span> </span>
                                        </button>
                                        <div class="wrap-masive-mails">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <table id="datable_1" class="table table-boleta w-100 display pb-30"></table>
                            <a id="dwnlink" download="boleta.pdf" style="display:none;"></a>

                            <!-- Modal BOLETA DE PAGOS / VACACIONES -->
                            <div class="modal fade" id="modalPdfModal" tabindex="-1" role="dialog"
                                aria-labelledby="modalPdfModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                    <div class="modal-content shadow-lg">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalPdfModalLabel">BOLETA DE PAGOS /  VACACIONES</h5>
                                            <button type="button" class="close text-white" data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body p-0" style="height: 80vh; overflow: hidden;">
                                            <!-- Contenedor con scroll interno -->
                                            <div style="height: 100%; overflow-y: auto; background: #f8f9fa;">
                                                <!-- Aquí se insertará el PDF -->
                                                <div id="pdfViewerContainer" class="p-3 text-center text-muted">
                                                    <span>Cargando PDF...</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">CERRAR</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <!-- /Row -->
    <style>
        .modal-glass .modal-content {
            backdrop-filter: blur(12px);
            background: rgba(255, 255, 255, 0.65);
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.35);
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
        }

        .modal-glass .modal-header {
            border-bottom: none;
        }

        .modal-glass .modal-footer {
            border-top: none;
        }
    </style>

    <div class="modal fade modal-glass" id="modalAnular" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-danger">
                        <i class="fa fa-ban mr-1"></i> Anular Boleta
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <table class="table table-sm mb-3">
                        <tbody>
                            <tr>
                                <th>Nombres:</th>
                                <td><strong class="js-anular-nombres"></strong></td>
                            </tr>
                            <tr>
                                <th>DNI:</th>
                                <td><strong class="js-anular-dni"></strong></td>
                            </tr>
                            <tr>
                                <th>Año:</th>
                                <td><strong class="js-anular-anio"></strong></td>
                            </tr>
                            <tr>
                                <th>Mes:</th>
                                <td><strong class="js-anular-mes"></strong></td>
                            </tr>
                            <tr>
                                <th>Tipo:</th>
                                <td><strong class="js-anular-tipo"></strong></td>
                            </tr>
                        </tbody>
                    </table>

                    <textarea id="vMotivo" class="form-control" rows="4" placeholder="Ingrese el motivo..."
                        style="border-radius:12px; background:rgba(255,255,255,0.8);"></textarea>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    <button id="btnAnular" class="btn btn-danger">
                        <i class="fa fa-trash-alt"></i> Anular
                    </button>
                </div>

            </div>
        </div>
    </div>


</div>